  *{
	cursor:url('img/ubecursor.png'),auto;
  }
  .normal {
	color: white;
	padding:5px;
	padding-left:10px;
	font-size:24px;
	font-family:Georgia, serif;
	text-align:left;
	word-break:break-word;
  }
  .normal:visited{
	color:white;
  }
  a {
	color:dodgerblue;
  }
  a:visited{
	color:violet;
  }
  .doubleborder{
	border-style:double;
	border-color:white;
	border-width:0.2em;
  }
  .buttondrop{
	background-color:midnightblue;
	color:white;
	text-align:center;
	font-size:24px;
	padding:10px;
  }
  .buttondrop:hover{
	background-color:black;
	color:white;
	text-align:center;
	font-size:24px;
	padding:20px;
  }
  .buttonlink{
	color:white;
	font-size:24px;
	background-color:midnightblue;
	border-color:dodgerblue;
	border-style:outset;
	border-width:5px;
	padding-left:5px;
	padding-right:5px;
  }
  .buttonlink:visited{
    color:white;
  }
  .buttonlink:hover{
	color:white;
	font-size:24px;
	background-color:black;
	border-color:dodgerblue;
	border-style:inset;
	border-width:5px;
	padding-left:5px;
	padding-right:5px;
  }
  .topbutton{
	display:inline;
	vertical-align: super;
	text-align:center;
  }
  .smollink {
	color:dodgerblue;
	font-size:16px;
  }
  center {
	margin:auto;
	background-color:black;
	width:60%;
  }
  .backgrounded {
	background-color:black;
	background-image:url('img/sculk.jpg');
	background-size: 48px 48px;
  }