  *{
	cursor:url('img/ubecursor.png'),auto;
  }
  .normal {
	color: white;
	padding:5px;
	padding-left:10px;
	font-size:24px;
	font-family:Georgia, serif;
	text-align:left;
	word-break:break-word;
  }
  .normal:visited{
	color:white;
  }
  a {
	color:dodgerblue;
  }
  a:visited{
	color:violet;
  }
  .doubleborder{
	border-style:double;
	border-color:white;
	border-width:0.2em;
  }
  .buttondrop{
	background-color:midnightblue;
	color:white;
	text-align:center;
	font-size:24px;
	padding:10px;
  }
  .buttondrop:hover{
	background-color:black;
	color:white;
	text-align:center;
	font-size:24px;
	padding:20px;
  }
  .buttonlink{
	color:white;
	font-size:24px;
	background-color:midnightblue;
	border-color:dodgerblue;
	border-style:outset;
	border-width:5px;
	padding-left:5px;
	padding-right:5px;
  }
  .buttonlink:visited{
    color:white;
  }
  .buttonlink:hover{
	color:white;
	font-size:24px;
	background-color:black;
	border-color:dodgerblue;
	border-style:inset;
	border-width:5px;
	padding-left:5px;
	padding-right:5px;
  }
  .topbutton{
	display:inline;
	vertical-align: super;
	text-align:center;
  }
  .smollink {
	color:dodgerblue;
	font-size:16px;
  }
  center {
	margin:auto;
	background-color:black;
	width:60vw;
  }
  .sidenav {
  height: 60%; /* Full-height: remove this if you want "auto" height */
  width: 15vw; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  margin-left: 1vw;
  margin-top: 10vw;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  border-style:inset;
  border-color:white;
  border-width:5px;
  -webkit-backface-visibility: hidden;
  }
 .rightnav {
  height: 60%; 
  width: 15vw;
  position: fixed; 
  z-index: 1;
  right:0;
  margin-right:1vw;
  margin-top: 10%;
  background-color: #111;
  overflow-x: hidden;
  border-style:inset;
  border-color:white;
  border-width:5px;
  -webkit-backface-visibility: hidden;
  }
  .sidelink {
	color: white;
	padding:5px;
	padding-left:10px;
	font-size:1.5vw;
	font-family:Georgia, serif;
	text-align:left;
	word-break:break-word;
	line-height:1.5;
  }
  .sidelink:visited{
	color:white;
  }
  .backgrounded {
	background-color:black;
	background-image:url('img/sculk.jpg');
	background-size: 48px 48px;
  }